/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--light-color: #fffbf8;
	--dark-color: #000001;
	--medium-color: #f2d0a4;
	--transparent-medium-color: #f2d0a4a8;
	--light-accent-color: #f8ead1;
	--transparent-light-accent-color: #f8ead196;
	--dark-accent-color: #8b635c;
	--basic-font: 'Courier New', Courier, monospace;
}

.content {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 49px;
}
/* style project */
.projectTab,
.addProjectTab {
    width: 250px;
	border-radius: 15px;
	padding: 15px;	
	gap: 15px;
}

.projectTab {
	background-color: var(--light-accent-color);
	display: flex;
	flex-direction: column;
}

.addProjectTab{
	background-color: var(--transparent-light-accent-color);
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-new-project-btn,
.add-new-group-btn {
	border: none;
	background-color: transparent;
	opacity: 0.3;
}

.add-new-project-btn:hover,
.add-new-group-btn:hover {
	cursor: pointer;
	opacity: 0.6;
}

.add-new-project-btn>img {
	width: 75px;
	height: 75px;
}

.add-new-group-btn>img {
	width: 35px;
	height: 35px;
}

/* style todo elements */
.groupTab,
.addGroupTab {
    width: 230px;
	padding: 10px;
    height: 50px;
	border-radius: 15px;

}

.groupTab {
	background-color: var(--medium-color);
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;

}

.addGroupTab {
	background-color: var(--transparent-medium-color);
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoTask {
	border: none;
	border-radius: 7px;
	height: 20px;
	grid-area: 1 / 1 / 2 / 3;
	background-color: var(--transparent-light-accent-color);
}


.todoDueDate,
.todoPriority {
	width: auto;
	border: none;
	border-radius: 7px;
	height: 20px;
	background-color: transparent;
}

.todoDueDate {
	justify-self: flex-start;
	align-self: flex-end;
}

.todoPriority {
	justify-self: flex-end;
	align-self: flex-end;
}

.todoPriorityOption {
	text-align: end;
}

.todolow {
	background-color: green;
}

.todomedium {
	background-color: yellow;
}

.todohigh {
	background-color: red;
}